body {
  font-family: "Roboto", sans-serif;
  margin: 0;
}

/* .container {
  position: absolute;
  height: 100%;
  width: 100%;
  background-color: #adadad;
} */

h1 {
  margin: 10px;
}

.header {
  margin: 0 0 30px 0;
  border-bottom: 2px solid black;
}

.form {
  margin: auto;
  padding: 30px;
  /* position: absolute; */
  /* top: 50%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%); */
  background-color: white;
  max-width: 350px;
  text-align: center;
  border-radius: 35px;
  font-size: 16px;
  /* letter-spacing: 1px; */
}

input[type="text"] {
  margin: 8px 0;
  padding: 4px 5px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

input[type="password"] {
  margin: 8px 0;
  padding: 4px 5px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

input[type="submit"] {
  margin: 8px 0;
  padding: 5px 23px;
  background-color: #5b8c5a;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  color: white;
}
