.header {
  margin: 0 0 30px 0;
  border-bottom: 2px solid black;
}

.form {
  margin: auto;
  background-color: white;
  max-width: 350px;
  text-align: center;
  border-radius: 35px;
  font-size: 16px;
}

#feedbackForm {
  text-align: left;
}

textarea {
  resize: none;
}

#comments {
  margin: auto;
  text-align: center;
  border-spacing: 0;
  border-radius: 10px;
  /* margin: 20px; */
}

.commentsThead {
  background-color: #184d47;
  color: white;
  text-decoration: none;
}

.commentsTh {
  padding: 10px;
  font-weight: normal;
}

.commentTd {
  padding: 7px 5px;
}

.commentTr:nth-child(even) {
  background-color: #e8e8e8;
}
