body {
  font-family: "Roboto", sans-serif;
  margin: 0;
}

.container {
  position: absolute;
  height: 100%;
  width: 100%;
  background-color: #585858;
}

h1 {
  margin: 10px;
}

.header {
  margin: 0 0 30px 0;
  border-bottom: 2px solid black;
}

.form {
  margin: 0;
  padding: 30px;
  position: absolute;
  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  background-color: white;
  min-width: 300px;
  text-align: center;
  border-radius: 35px;
  font-size: 16px;
  /* letter-spacing: 1px; */
}

input[type="text"] {
  margin: 8px 0;
  padding: 4px 5px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

input[type="password"] {
  margin: 8px 0;
  padding: 4px 5px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

input[type="submit"] {
  margin: 8px 0;
  padding: 5px 23px;
  background-color: #5b8c5a;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  color: white;
}

input[type="radio"] {
  margin: 8px 0;
  padding: 4px 5px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

input[type="date"] {
  margin: 8px 0;
  padding: 4px 5px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

/*body {
  margin: 0;
  padding: 0;
  background: linear-gradient(120deg, #2980b9, #8e44ad);
  height: 100vh;
  overflow: hidden;
}

.center {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 400px;
  background: white;
  border-radius: 10px;
}

.center h1 {
  text-align: center;
  padding: 0 0 20px 0;
  border-bottom: 1px solid silver;
}

.center form {
  padding: 0 40px;
  box-sizing: border-box;
}

form .txt_field {
  position: relative;
  border-bottom: 2px solid #adadad;
  margin: 30px 0;
}

.txt_field input {
  width: 100%;
  padding: 0 5px;
  height: 40px;
  font-size: 16px;
  border: none;
  background: none;
  outline: none;
}

.txt_field label {
  position: absolute;
  top: 50%;
  left: 5px;
  color: #adadad;
  transform: translateY(50%);
  font-size: 16px;
  pointer-events: none;
}*/
