.container {
  /* margin: 10px 10px 10px 5%; */
  /* width: 90%; */
  text-align: center;
}

.categories {
  width: max-content;
  margin: 0px 0px;
  /* border: 1px solid #184d47; */
  display: inline-block;
}

.item-image {
  height: 400px;
  width: 400px;
  padding: 10px;
}

.image-title {
  text-align: center;
  padding: 10px;
  color: black;
}

.itemsContainer {
  margin: 10px;
  /* width: 90%; */
  /* display: flex; */
  /* display: table; */
  text-align: center;
}

.itemsCategories {
  width: max-content;
  margin: 20px 20px;
  border: 1px solid #184d47;
  display: inline-block;
  /* align-items: stretch; */
}

.itemsImage {
  height: 200px;
  width: 200px;
  padding: 10px;
}

.itemImageTitle {
  text-align: center;
  padding: 10px;
  color: black;
}

#comments {
  margin: auto;
  text-align: center;
  border-spacing: 0;
  border-radius: 10px;
  /* margin: 20px; */
  padding: 20px;
}

.commentsThead {
  background-color: #184d47;
  color: white;
  text-decoration: none;
}

.commentsTh {
  padding: 10px;
  font-weight: normal;
}

.commentTd {
  padding: 7px 5px;
}

.commentTr:nth-child(even) {
  background-color: #e8e8e8;
}
